<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personConverter" class="converter.PersonConverter"/>
    <bean id="xmlConverter" class="converter.XmlConverter">
        <property name="converter" ref="personConverter"/>
    </bean>
    <bean id="jsonConverter" class="converter.JsonConverter">
        <property name="personConverter" ref="personConverter"/>
    </bean>
    <bean id="personService" class="service.PersonService"/>
</beans>